.instrContent {
    display: none;
}

#btnInstructions {
    position: static;
}

.show{
    display: block;
    margin-right: auto;
    border: 1px solid black;
    height: 180px;
    width: 600px;
    padding: 5px;
}

body {
    display: block;
}